<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>SIe1dIYfgNe0MQE0DHMn0i5pI</string>
	<key>consumer_Secret</key>
	<string>Rcadq94OYFq3MIPt8AiIo3obBX9pvAHz3cfPefCTH8EZZuRBqO</string>
</dict>
</plist>
