<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>uUiPLXPpnHqjxBHHGASZSC7Yx</string>
	<key>consumer_Secret</key>
	<string>TRV2CcZ5Z7SqOnsxLiHGtQI5G7bx6EfGeug3a1wwz18QxC23HK</string>
</dict>
</plist>
